.Admin__Sidebar__Container {
  width: 250px;
  height: 100vh;
  background-color: #6750a4;
  padding: 24px 16px;
  position: sticky;
  top: 0;
}

.Admin__Sidebar__IconText {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Admin__Sidebar__list {
  padding: 100px 0;
}
.Admin__Sidebar__list__item {
  padding: 12px 10px;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.Admin__Sidebar__list__item a {
  color: #fff;
}
.isactive-text {
  color: #6750a4 !important;
}
.isactive {
  background-color: #fff;
}
.Admin__Sidebar__list__item__text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
}
.Admin__Sidebar__logout__text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
}
.logout__btn__content {
  color: #fff;
  padding: 12px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.Admin__Sidebar__bottom {
  min-height: 95%;
}

.logout__btn__content:hover {
  background-color: #fff;
  color: #6750a4;
}
